html, body {
  height: 100%;
}

.fill {
  height: 100%;
}

.box {
  border: solid;
  border-color: black;
  border-width: 2px;
}

.res-1 {
  background-color: cyan;
}

.res-2 {
  background-color: lime;
}

.res-3 {
  background-color: yellow;
}

div.hline {
  height: 10px;
  background-color: black;
  top: 50px;
  position: relative;
}

div.vdownline {
  height: 80px;
  width: 10px;
  margin: auto;
  position: relative;
  top: 50px;
  background-color: black;
}

div.vupline {
  height: 50px;
  width: 10px;
  margin: auto;
  background-color: black;
}

.text-center {
  text-align: center;
}
